# Logs
logs
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directories and files
trash
Responsive_Portfolio
utils

# IDE directories and files
node_modules
package-lock.json
vite.config.js
.eslintrc.cjs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
