:root {
  --c-black: #130f1c;
  --c-dark: #1f2133;
  --c-light: #ececec;
  --c-white: #fff;
  --c-accent: #ff4d00;
  --c-accent-btn: #ff4d003a;
  --c-accent-btn-hover: #bc3900;
  --c-accent-btn-active: #902b00;
  --c-accent-btn-focus: #ff6320;
  --box-shadow: -12px -12px 12px hsla(0, 0%, 100%, 0.32), 12px 12px 12px rgba(0, 0, 0, 0.32);
  --box-shadow-2: -4px -4px 12px hsla(0, 0%, 100%, 0.8), 4px 4px 12px #000;
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-41: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-4: -8px -8px 12px hsla(0, 0%, 100%, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
  --box-shadow-4-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-5: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px var(--c-accent);
  --box-shadow-6: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.25);
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0.015),
    inset 8px 4px 20px 12px rgba(0, 0, 0, 0.818);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0),
    inset 8px 4px 20px 12px transparent;
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, 0.1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow-inset-2-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0),
    inset 2px 2px 4px transparent;
  --base-transition-duration: 2s;
  --base-font-family: "Poppins", sans-serif;
  --base-font-family-title: "Audiowide", sans-serif;
}

.btn {
  border-radius: 2px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--c-accent);
  font-family: var(--base-font-family-title);
  color: white;
  border: 1px solid var(--c-accent);
}

.btn--outline {
  background-color: transparent;
  font-family: var(--base-font-family-title);
  color: var(--c-accent);
  border: 1px solid var(--c-accent);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.btn--small {
  padding: 6px 15px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.btn--medium {
  padding: 10px 35px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.btn--small:hover,
.btn--medium:hover {
  color: white;
  background: var(--c-accent-btn-hover);
  transition: var(--base-transition-duration);
}

.btn--small:active,
.btn--medium:active {
  background: var(--c-accent-btn-active);
  color: white;
}
