.myBtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: none;
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.dark.myBtn {
  background: var(--black2);
}

.myBtn:hover {
  background: #2196f3;
  color: #fff;
}
.dark.myBtn:hover {
  background: #2196f3;
}
