@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Press+Start+2P&family=Rye&family=Yatra+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --c-black: #130f1c;
  --c-dark: #151025;
  --c-light: #ececec;
  --c-white: #fff;
  --c-accent: #ff4d00;
  --c-accent-2: #de00ff;
  --c-gray: #f0f0f3;
  --c-red: #c04040;
  --c-green: #2c922c;
  --c-error: var(--c-red);
  --c-success: var(--c-green);
  --c-overlay: rgba(0, 0, 0, 0.6);
  --border-radius: 16px;
  --border-radius-2: 32px;
  --border-radius-3: 60px;
  --border-radius-4: 4px;
  --box-shadow: -12px -12px 12px hsla(0, 0%, 100%, 0.32), 12px 12px 12px rgba(0, 0, 0, 0.32);
  --box-shadow-2: -4px -4px 12px hsla(0, 0%, 100%, 0.8), 4px 4px 12px #000;
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-41: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-4: -8px -8px 12px hsla(0, 0%, 100%, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
  --box-shadow-4-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-5: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px var(--c-accent);
  --box-shadow-51: 0px 0px 15px var(--c-accent);
  --box-shadow-6: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.25);
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0.015),
    inset 8px 4px 20px 12px rgba(0, 0, 0, 0.8);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0),
    inset 8px 4px 20px 12px transparent;
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, 0.1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow-inset-2-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0),
    inset 2px 2px 4px transparent;
  --fancybox-opacity: 1;
  --fancybox-ts: 0.2s ease;
  --fancybox-bg: var(--c-overlay);
  --fancybox-color: var(--c-light);
  --base-transition-duration: 0.2s;
  --transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --base-font-family: "Poppins", sans-serif;
  --base-font-family-title: "Audiowide", sans-serif;
  --base-font-weight: 300;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --base-font-size-title: 20px;
  --scroll-bar-size: 8px;
  --siteMaxWidth: 1920px;
  --siteMinWidth: 360px;
  --gridWidth: 1220px;
  --gridPadding: 15px;
  --section-padding-y: 50px;
  --inputHeight: 44px;
  --inputFontSize: 100%;
  --inputPaddingX: 20px;
  --inputPaddingY: 0;
  --inputPadding: var(--inputPaddingY) var(--inputPaddingX);
  --inputButtonSize: var(--inputHeight);
  --inputIconSize: 50%;
  --roundButtonSize: 64px;
  --focus-outline: 4px dashed var(--focus-outline-color);
  --focus-outline-color: var(--c-light);
  --layerDefault: 0;
  --layerControls: 50;
  --layerTooltip: 75;
  --layoutHeader: 80;
  --layerOverlay: 100;
  --layerOverlayControls: 150;
  --layerModal: 200;
  --layerModalControls: 250;
  --layerAdmin: 300;
  --layerAdminControls: 350;
  --layerPreloader: 10000;
}

.light {
  --c-black: #ececec;
  --c-dark: #ececec;
  --c-light: #343541;
  --c-white: #000;
  --box-shadow-41: -8px -8px 12px hsla(0, 0%, 100%, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
}

/* ----------------------- */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  --marginBottom: 40px;
  --tabletFontSize: 28px;
  --mobileFontSize: 20px;
  display: block;
  font-weight: 300;
  line-height: 1.1;
}

@media (max-width: 1280px) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --marginBottom: 30px;
    font-size: var(--tabletFontSize) !important;
  }
}

@media (max-width: 767px) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --marginBottom: 20px;
    font-size: var(--mobileFontSize) !important;
  }
}
@media (max-width: 640px) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --marginBottom: 15px;
    font-size: var(--mobileFontSize) !important;
  }
}

.h1:not(:last-child),
.h2:not(:last-child),
.h3:not(:last-child),
.h4:not(:last-child),
.h5:not(:last-child),
.h6:not(:last-child),
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
  margin-bottom: var(--marginBottom);
}

.h1:not([class]):not(:first-child),
.h2:not([class]):not(:first-child),
.h3:not([class]):not(:first-child),
.h4:not([class]):not(:first-child),
.h5:not([class]):not(:first-child),
.h6:not([class]):not(:first-child),
h1:not([class]):not(:first-child),
h2:not([class]):not(:first-child),
h3:not([class]):not(:first-child),
h4:not([class]):not(:first-child),
h5:not([class]):not(:first-child),
h6:not([class]):not(:first-child) {
  margin-top: 40px;
}

.h1,
h1 {
  --tabletFontSize: 36px;
  --mobileFontSize: 24px;
  font-size: calc(20.30769px + 1.02564vw);
}

@media (min-width: 1921px) {
  .h1,
  h1 {
    font-size: 52px;
  }
}

.h2,
h2 {
  --tabletFontSize: 32px;
  --mobileFontSize: 22px;
  font-size: calc(18.30769px + 1.02564vw);
}

@media (min-width: 1921px) {
  .h2,
  h2 {
    font-size: 44px;
  }
}

.h3,
h3 {
  --marginBottom: 20px;
  --tabletFontSize: 28px;
  --mobileFontSize: 24px;
  font-size: calc(22.15385px + 0.51282vw);
}

@media (min-width: 1921px) {
  .h3,
  h3 {
    font-size: 32px;
  }
}

.h4,
h4 {
  --tabletFontSize: 24px;
  --mobileFontSize: 22px;
  font-size: calc(20.61538px + 0.38462vw);
}

@media (min-width: 1921px) {
  .h4,
  h4 {
    font-size: 28px;
  }
}

.h5,
h5 {
  --tabletFontSize: 19px;
  --mobileFontSize: 18px;
  font-size: 20px;
}

.h6,
h6 {
  --tabletFontSize: 18px;
  --mobileFontSize: 18px;
  font-size: 18px;
}

ol[class]:not(.ol),
ul[class]:not(.ul) {
  list-style: none;
}

.ol,
.ul,
ol:not([class]),
ul:not([class]) {
  --paddingLeft: 20px;
}

.ol li,
.ul li,
ol:not([class]) li,
ul:not([class]) li {
  padding-left: var(--paddingLeft);
}

.ul li,
ul:not([class]) li {
  --markerSize: 5px;
  position: relative;
}

.ul li:before,
ul:not([class]) li:before {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: block;
  height: var(--markerSize);
  left: 0;
  position: absolute;
  top: 0.5em;
  width: var(--markerSize);
}

.ol,
ol:not([class]) {
  --paddingLeft: 28px;
  counter-reset: custom-counter;
}

.ol li,
ol:not([class]) li {
  position: relative;
}

.ol li:before,
ol:not([class]) li:before {
  content: counters(custom-counter, ".") ". ";
  counter-increment: custom-counter;
  font-weight: 700;
  position: absolute;
  right: calc(100% - 14px);
}

a,
button {
  color: var(--c-light);
  display: inline-flex;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    color: var(--c-accent);
  }
}

a.focus-visible,
button.focus-visible,
html.safari a:focus,
html.safari button:focus {
  outline: var(--focus-outline);
  outline-offset: 4px;
}

a:focus-visible,
button:focus-visible,
html.safari a:focus,
html.safari button:focus {
  outline: var(--focus-outline);
  outline-offset: 4px;
}

@media (max-width: 767px) {
  html.safari a:focus,
  html.safari button:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

a[href^="fax:"],
a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  img[height]:not([class]) {
    height: auto;
  }
}

iframe,
object,
video {
  border: 0;
  display: block;
  max-width: 100%;
}

cite {
  color: var(--c-dark);
  text-align: right;
}

address,
cite {
  display: block;
}

address {
  font-style: normal;
}

/* ----------------------- */

body {
  background-image: var(--c-dark);
  color: var(--c-light);
  font: inherit;
  min-height: inherit;
  min-width: var(--siteMinWidth);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--headerHeight);
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--gridWidth) + var(--gridPadding) * 2);
  padding-left: var(--gridPadding);
  padding-right: var(--gridPadding);
  width: 100%;
}

.flow-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: inherit;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 5000;
}

.card {
  border-radius: var(--border-radius-2);
  padding: 40px;
  background-color: var(--c-dark);
  box-shadow: var(--box-shadow-41);
}

@media (max-width: 767px) {
  .card {
    border-radius: var(--border-radius);
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .card {
    padding: 20px;
  }
}

.card--hoverable {
  transition: var(--base-transition-duration);
}

.card--hoverable {
  --shadowBefore: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);
  box-shadow: var(--shadowBefore);
}

.light .card--hoverable {
  --shadowBefore: var(--box-shadow-4), var(--box-shadow-inset-2-transparent);
  --shadowAfter: var(--box-shadow-4-transparent), var(--box-shadow-inset-2);
}

@media (hover: hover) {
  .card--hoverable:hover {
    box-shadow: var(--shadowAfter);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--c-accent);
  transform-origin: 0%;
  z-index: var(--layerModalControls);
}

.header {
  top: 0;
  left: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  position: fixed;
  width: 100%;
  z-index: var(--layoutHeader);
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 64px;
}

@media (max-width: 768px) {
  .header__inner {
    height: 44px;
  }
}

.header.is-scrolled {
  background-color: var(--c-dark);
  box-shadow: var(--box-shadow-41);
  padding-bottom: 12px;
  padding-top: 12px;
  transition: var(--base-transition-duration);
}

@media (max-width: 768px) {
  .header.is-scrolled {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.logo {
  position: relative;
  border: 1px dashed var(--c-accent);
  padding: 5px;
  box-shadow: var(--box-shadow-41);
  cursor: pointer;
}

.logo span:first-child {
  color: var(--c-accent);
  text-shadow: var(--box-shadow-41);
}

.logo span:last-child {
  color: var(--c-light);
  font-weight: 500;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden-mobile {
  visibility: hidden;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.header__menu-item {
  list-style: none;
  padding-right: 15px;
}

.header__menu-item a {
  position: relative;
  text-decoration: none;
  color: var(--c-white);
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.header__menu-item a:hover {
  color: var(--c-accent);
}

.header__menu-item a.active {
  color: var(--c-accent);
}

.header__menu-item a.pending {
  color: #0d62a7;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-dark);
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--layerOverlay);
  visibility: hidden;
}

.mobile-menu__navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 2.5rem;
}

.mobile-menu__navigation ul a {
  font-size: 2em;
  text-decoration: none;
  color: var(--c-white);
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.mobile-menu__navigation_list li a:hover {
  color: var(--c-accent);
}

.mobile-menu__navigation_list a.active {
  color: var(--c-accent);
}

.mobile-menu__navigation_list a.pending {
  color: #0d62a7;
}

.visible-mobile {
  visibility: visible;
}

.toggle {
  width: 40px;
  height: 40px;
  border: 1px solid var(--c-accent);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-accent);
  box-shadow: var(--box-shadow-41);
  z-index: var(--layerAdminControls);
}

.toggle:hover {
  color: var(--c-accent);
  border: 1px solid var(--c-accent);
  transform: scale(1.1);
  transition: var(--base-transition-duration);
}

.content {
  flex-grow: 1;
}

.content__sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  padding-bottom: var(--section-padding-y);
  padding-top: var(--section-padding-y);
}

.hero__inner {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 1024px) {
  .hero__inner {
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-left: 30%;
  }
}

@media (max-width: 768px) {
  .hero__inner {
    margin-left: auto;
  }
}

.hero__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

.hero__title .intro-1 {
  font-family: var(--base-font-family-title);
  font-size: calc(22.30769px + 1.52564vw);
  color: var(--c-accent);
  font-weight: 500;
  line-height: 1.2em;
}

.hero__title .intro-2 {
  font-size: calc(18.30769px + 1.52564vw);
  font-weight: 400;
  font-family: var(--base-font-family-title);
  color: var(--c-light);
}

.typed-cursor {
  font-size: calc(20.30769px + 1.02564vw);
  color: var(--c-white);
  font-weight: 200;
}

.hero__inner .imgBx {
  position: relative;
  height: calc(330px + 5.06854vw);
  width: calc(330px + 5.06854vw);
}

.hero__inner .imgBx img {
  position: absolute;
  bottom: 0;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  font-family: var(--base-font-family-title);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: var(--section-padding-y);
  color: var(--c-accent);
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 1px;
  background: var(--c-accent);
}

.about .content {
  display: flex;
  justify-content: space-between;
}

.about .content .textBox {
  width: 49%;
  min-width: 49%;
}

.textBox__title {
  font-family: var(--base-font-family-title);
  font-size: var(--base-font-size-title);
}

p {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--c-light);
}

.about .content .imgBx {
  margin-left: 40px;
}

.about .content .imgBx img {
  max-width: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.courses__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

.courses__content--contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

@media (hover: hover) {
  .courses__content--contentBox img:hover {
    box-shadow: none;
  }
}

.courses__content--contentBox img {
  max-height: 200px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  overflow: hidden;
  transition: var(--base-transition-duration);
}

.courses__content--contentBox h4 {
  font-weight: 400;
  text-align: center;
}
.courses__content--contentBox p {
  text-align: center;
}

.skills-dev__inner .skills-dev__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px 0;
}

.skills-dev__Box-wrapper {
  display: flex;
}

.skills-dev__Box-wrapper .skills-dev__Box-h4 {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--c-white);
  line-height: 1.2em;
  font-weight: 400;
}

.skills-dev__inner .skills-dev__content .skills-dev__Box {
  background: var(--c-dark);
  box-shadow: var(--box-shadow-41);
  padding: 20px;
}

.skills-dev__inner .skills-dev__content .skills-dev__Box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.skills-dev__inner .skills-dev__content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.skills-dev__inner .skills-dev__content .skills-dev__Box p {
  font-style: italic;
}

.skills-dev__inner .skills-dev__content .skills-dev__Box h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.7em;
}

.section__body {
  margin-top: 40px;
}

.portfolio-card {
  display: grid;
  gap: 20px max(40px, 10%);
  grid-template-columns: 35% auto;
}
.portfolio-card:hover {
  box-shadow: var(--box-shadow-51);
  transition: var(--base-transition-duration);
}

@media (max-width: 1024px) {
  .portfolio-card {
    column-gap: 40px;
  }
}

@media (max-width: 767px) {
  .portfolio-card {
    grid-template-columns: 1fr;
  }
}

.portfolio-card__image-wrapper {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  height: 320px;
  max-width: max-content;
  overflow: hidden;
  width: 100%;
}

.fancybox__container {
  z-index: var(--layerPreloader);
}

.f-button {
  color: var(--c-accent);
}

@media (max-width: 767px) {
  .portfolio-card__image-wrapper {
    height: 200px;
    max-width: 200px;
  }
}

.light .portfolio-card__image-wrapper {
  box-shadow: var(--box-shadow-6);
}

.portfolio-card__image-wrapper--border {
  border: 2px solid var(--c-accent);
}

.light .portfolio-card__image-wrapper--border {
  border: none;
}

@media (hover: hover) {
  .portfolio-card__image-wrapper:hover {
    box-shadow: none;
  }

  .portfolio-card__image-wrapper:hover .portfolio-card__image {
    transform: scale(1.05) translateZ(0);
  }
}

.portfolio-card__image {
  transition: var(--base-transition-duration);
}

.portfolio-card__image {
  border-radius: inherit;
  object-fit: fill;
  pointer-events: none;
  will-change: transform;
}

.portfolio-card__date {
  border: 1px dashed var(--c-accent);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inset-2);
  color: var(--c-accent);
  display: inline-block;
  font-weight: 400;
  padding: 8px 16px;
}

.light .portfolio-card__date {
  border: 1px solid transparent;
  box-shadow: var(--box-shadow-inset-2);
}

@media (max-width: 640px) {
  .portfolio-card__date {
    font-size: 0.9em;
  }
}

.portfolio-card__date:not(:last-child) {
  margin-bottom: 16px;
}

.portfolio-card__title {
  --marginBottom: 20px;
}

.portfolio-card__description:not(:last-child) {
  margin-bottom: 20px;
}

.grid {
  --columns: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}

.portfolio-card {
  display: grid;
  gap: 20px max(40px, 10%);
  grid-template-columns: 35% auto;
}

.portfolio-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio-card__link {
  color: var(--c-white);
  font-weight: 400;
  text-decoration: none;
}
@media (hover: hover) {
  .portfolio-card__link:hover {
    color: var(--c-accent);
    transition: var(--base-transition-duration);
  }
}

a,
button {
  color: var(--c-light);
  display: inline-flex;
}

.portfolio-card__link[target="_blank"]:after {
  --size: 0.4em;
  background: url(/icons/link.svg) 50% / contain no-repeat;
  content: "";
  margin-left: 0.25em;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}

ol[class]:not(.ol),
ul[class]:not(.ul) {
  list-style: none;
}

.stack__list.flow {
  --gapX: 16px;
  --gapY: 8px;
}

.flow {
  --gapX: 32px;
  --gapY: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gapX) * -1);
  margin-top: calc(var(--gapY) * -1);
}

.flow > * {
  margin-left: var(--gapX);
  margin-top: var(--gapY);
}
.light .stack__item {
  border: 1px solid transparent;
}
.stack__item {
  --size: 64px;
  align-items: center;
  display: flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inset-2);
  transition: var(--base-transition-duration);
}

.contact__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contactForm {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.contactForm__inputs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.contactForm .row {
  position: relative;
  width: 100%;
}

.contactForm .row2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contactForm .row input,
.contactForm .row2 textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  color: var(--c-white);
  background-color: var(--c-dark);
  font-size: 16px;
  border: 1px solid var(--c-accent);
  border-radius: var(--border-radius-4);
  box-shadow: var(--box-shadow-41);
}

.contactForm .row2 textarea {
  resize: none;
  height: 200px;
}

.contactForm .row label,
.contactForm .row2 label {
  position: absolute;
  left: 1rem;
  top: -20px;
  font-size: small;
  letter-spacing: 0.1em;
  font-weight: 200;
}

.accent-color {
  margin-top: 20px;
  color: var(--c-accent);
}

.socialMedia {
  display: flex;
}

.socialMedia li {
  list-style: none;
  margin-right: 2rem;
}

.socialMedia li a {
  width: 60px;
  height: 60px;
  background: var(--c-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--c-white);
  font-size: 1.5em;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inset-2);
}

.socialMedia li a:hover {
  color: var(--c-accent);
  transition: var(--base-transition-duration);
}

.footer {
  margin-bottom: var(--section-padding-y);
  margin-top: var(--section-padding-y);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  display: flex;
  flex-direction: column;
}

.footer__description {
  margin-top: var(--section-padding-y);
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
}

.error__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__inner img {
  max-height: 500px;
}

/* Responsive */

@media (max-width: 1024px) {
  .hero__body {
    gap: 3rem;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .textBox {
    width: 100%;
    min-width: 100%;
  }
  .about .content .imgBx {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .skills-dev__inner .skills-dev__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .contactForm__inputs {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__contacts {
    align-items: start;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}

@media (max-width: 640px) {
  .hero__inner {
    gap: 2rem;
  }
  .courses__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .stack__item {
    --size: 50px;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font: var(--base-font-weight) var(--base-font-size) / var(--base-line-height)
    var(--base-font-family);
  height: 100% !important;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: var(--headerHeight);
}

@supports (-webkit-touch-callout: none) {
  html {
    min-height: -webkit-fill-available;
  }
}

html.light {
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, 0.1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.35);
  --focus-outline-color: var(--c-accent);
}

body {
  --scrollbarBgColor: var(--c-dark);
  --scrollbarThumbColor: var(--c-accent);
}

html:not(.safari):not(.is-mobile-device) body {
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  scrollbar-width: thin;
}

html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar {
  --size: 6px;
  background-color: var(--scrollbarBgColor);
  width: var(--size);
}

html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--scrollbarThumbColor);
}

html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar-thumb,
html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar-track {
  border-radius: 0;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: var(--c-dark);
  color: var(--c-light);
  font: inherit;
  min-height: inherit;
  min-width: var(--siteMinWidth);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--headerHeight);
  scroll-behavior: smooth;
}

.with-fancybox body,
body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none;
}
