* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --c-black: #130f1c;
  /* --c-dark: #191820; */
  --c-dark: #1f2133;
  --c-light: #ececec;
  --c-white: #fff;
  --c-accent: #ae8bf8;
  --c-accent-2: #910091;
  --c-accent-3: #ff00fb;
  --c-gray: #f0f0f3;
  --c-red: #c04040;
  --c-green: #2c922c;
  --c-error: var(--c-red);
  --c-success: var(--c-green);
  --c-overlay: rgba(0, 0, 0, 0.6);
  --border-radius: 16px;
  --border-radius-2: 32px;
  --border-radius-3: 60px;
  --border-radius-4: 4px;
  --box-shadow: -12px -12px 12px hsla(0, 0%, 100%, 0.32), 12px 12px 12px rgba(0, 0, 0, 0.32);
  --box-shadow-2: -4px -4px 12px hsla(0, 0%, 100%, 0.8), 4px 4px 12px #000;
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-41: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px #000;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-4: -8px -8px 12px hsla(0, 0%, 100%, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
  --box-shadow-4-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-5: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 12px var(--c-accent);
  --box-shadow-6: -4px -4px 12px hsla(0, 0%, 100%, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.25);
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0.015),
    inset 8px 4px 20px 12px rgba(0, 0, 0, 0.8);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0),
    inset 8px 4px 20px 12px transparent;
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, 0.1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow-inset-2-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0),
    inset 2px 2px 4px transparent;
  --fancybox-opacity: 1;
  --fancybox-ts: 0.2s ease;
  --fancybox-bg: var(--c-overlay);
  --fancybox-color: var(--c-light);
  --base-transition-duration: 0.2s;
  --transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --base-font-family: "Poppins", sans-serif;
  --base-font-weight: 300;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --scroll-bar-size: 8px;
  --siteMaxWidth: 1920px;
  --siteMinWidth: 360px;
  --gridWidth: 1220px;
  --gridPadding: 15px;
  --section-padding-y: 50px;
  --inputHeight: 44px;
  --inputFontSize: 100%;
  --inputPaddingX: 20px;
  --inputPaddingY: 0;
  --inputPadding: var(--inputPaddingY) var(--inputPaddingX);
  --inputButtonSize: var(--inputHeight);
  --inputIconSize: 50%;
  --roundButtonSize: 64px;
  --focus-outline: 4px dashed var(--focus-outline-color);
  --focus-outline-color: var(--c-light);
  --layerDefault: 0;
  --layerControls: 50;
  --layerTooltip: 75;
  --layoutHeader: 80;
  --layerOverlay: 100;
  --layerOverlayControls: 150;
  --layerModal: 200;
  --layerModalControls: 250;
  --layerAdmin: 300;
  --layerAdminControls: 350;
  --layerPreloader: 10000;
}

.light {
  --c-black: #ececec;
  --c-dark: #ececec;
  --c-light: #343541;
  --c-white: #000;
  --box-shadow-41: -8px -8px 12px hsla(0, 0%, 100%, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
}

body {
  background-color: var(--c-dark);
  color: var(--c-light);
  font: inherit;
  min-height: inherit;
  min-width: var(--siteMinWidth);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--headerHeight);
  scroll-behavior: smooth;
}

/* .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  --marginBottom: 40px;
  --tabletFontSize: 32px;
  --mobileFontSize: 24px;
  display: block;
  font-weight: 300;
  line-height: 1.2;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--gridWidth) + var(--gridPadding) * 2);
  padding-left: var(--gridPadding);
  padding-right: var(--gridPadding);
  width: 100%;
}

.flow-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: inherit;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 5000;
}

.card {
  border-radius: var(--border-radius-2);
  padding: 40px;
  background-color: var(--c-dark);
  box-shadow: var(--box-shadow-41);
}

.card--hoverible {
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);
  transition: var(--base-transition-duration);
  box-shadow: var(--shadowAfter);
}

.header {
  top: 0;
  left: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  position: fixed;
  width: 100%;
  z-index: var(--layoutHeader);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.header.is-scrolled {
  background-color: var(--c-dark);
  box-shadow: var(--box-shadow-41);
  padding-bottom: 12px;
  padding-top: 12px;
  transition: var(--base-transition-duration);
}

.logo {
  position: relative;
  font-size: medium;
  border: 1px dashed var(--c-accent);
  padding: 5px;
  box-shadow: var(--box-shadow-41);
  cursor: pointer;
  z-index: var(--layerAdminControls);
}

.logo span:first-child {
  color: var(--c-accent);
  text-shadow: var(--box-shadow-41);
}

.logo span:last-child {
  color: var(--c-white);
  font-weight: 500;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden-mobile {
  visibility: hidden;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.header__menu-item {
  list-style: none;
  padding-right: 15px;
}

.header__menu-item a {
  position: relative;
  text-decoration: none;
  color: var(--c-white);
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.header__menu-item a:hover {
  color: var(--c-accent);
}

.header__menu-item a.active {
  color: var(--c-accent);
}

.header__menu-item a.pending {
  color: #0d62a7;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-dark);
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--layerOverlay);
  visibility: hidden;
}

.mobile-menu__navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 0.5em;
}
.mobile-menu__navigation ul a {
  font-size: 2.5em;
  text-decoration: none;
  color: var(--c-white);
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.mobile-menu__navigation_list li a:hover {
  color: var(--c-accent);
}

.mobile-menu__navigation_list a.active {
  color: var(--c-accent);
}

.mobile-menu__navigation_list a.pending {
  color: #0d62a7;
}

.visible-mobile {
  visibility: visible;
}

.toggle {
  width: 40px;
  height: 40px;
  border: 1px solid var(--c-accent);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: var(--c-accent);
  box-shadow: var(--box-shadow-41);
  z-index: var(--layerAdminControls);
}

.toggle:hover {
  color: var(--c-accent);
  border: 1px solid var(--c-accent);
  transform: scale(1.1);
  transition: var(--base-transition-duration);
}

.content {
  flex-grow: 1;
}

.content__sections {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  padding-bottom: var(--section-padding-y);
  padding-top: var(--section-padding-y);
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hero__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5rem;
}

.h1 {
  --tabletFontSize: 36px;
  --mobileFontSize: 32px;
  font-size: calc(32.30769px + 1.02564vw);
}

.hero__title {
  font-size: calc(24.30769px + 1.02564vw);
  color: var(--c-accent);
  letter-spacing: 0.1em;
  font-weight: 200;
}

.typed-cursor {
  font-size: calc(24.30769px + 1.02564vw);
  color: var(--c-white);
  font-weight: 200;
}

.hero__title .intro {
  font-size: calc(24.30769px + 1.02564vw);
  font-weight: 200;
  color: var(--c-white);
}

.hero__inner .imgBx {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  background: linear-gradient(45deg, rgba(77, 16, 255, 1) 0%, rgba(174, 139, 248, 1) 60%);
  box-shadow: var(--box-shadow-41);
  position: relative;
  height: 600px;
  width: 550px;
  overflow: hidden;
}

.hero__inner .imgBx img {
  position: absolute;
  padding: 10px;
  margin: 10px;
  top: 10px;
  left: 15px;
  width: 90%;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: var(--section-padding-y);
  color: var(--c-white);
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: var(--c-white);
}

.about .content {
  display: flex;
  justify-content: space-between;
}

.about .content .textBox {
  width: 49%;
  min-width: 49%;
}

p {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--c-light);
}

.about .content .imgBx {
  margin-left: 40px;
}

.about .content .imgBx img {
  max-width: 100%;
}

.h2 {
  --tabletFontSize: 36px;
  --mobileFontSize: 24px;
  font-size: calc(24.30769px + 1.02564vw);
}

.courses__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.courses__content--contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.courses__content--contentBox:hover {
  background-color: var(--c-accent);
  box-shadow: var(--box-shadow-41);
}

.courses__content--contentBox img {
  max-width: 50px;
}

.courses__content--contentBox h2 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--c-white);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.courses__content--contentBox p {
  text-align: center;
}

.skills-dev__inner .skills-dev__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px 0;
}

.skills-dev__inner .skills-dev__content .testimonialsBox {
  background: var(--c-dark);
  box-shadow: var(--box-shadow-41);
  padding: 20px;
}

.skills-dev__inner .skills-dev__content .testimonialsBox .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.skills-dev__inner .skills-dev__content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.skills-dev__inner .skills-dev__content .testimonialsBox p {
  font-style: italic;
}

.skills-dev__inner .skills-dev__content .testimonialsBox h4 {
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  color: var(--c-white);
  line-height: 1.2em;
  font-weight: 600;
  border-right: 4px solid var(--c-accent);
  padding-right: 10px;
}

.skills-dev__inner .skills-dev__content .testimonialsBox h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.7em;
}

.projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.projects .content .workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.projects .content .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.projects .content .workBx:hover .imgBx {
  transform: translateY(-100%);
}

.projects .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.projects .content .workBx:hover .textBx {
  transform: translateY(0);
}

.projects .content .workBx .textBx h3 {
  color: var(--c-dark);
  font-size: 1em;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cv__container {
  position: relative;
  margin-top: 30px;
  border-radius: var(--border-radius-2);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: var(--box-shadow-41);
}

.cv__container .leftSide {
  border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
  position: relative;
  /* background: linear-gradient(45deg, #0e2631 40%, rgba(40, 87, 126, 1) 100%); */
  background-color: rgb(67 24 157);
  padding: 40px;
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--inputPaddingX);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  margin-bottom: var(--inputPaddingX);
  width: 200px;
  height: 250px;
  border: 1px solid #848c99;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow-3);
}

.profileText .imgBx img {
  position: absolute;
  left: -18px;
  width: 110%;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.5em;
}

.profileText h2 span {
  font-size: 0.8em;
  color: var(--c-gray);
  font-weight: 300;
}

.contactInfo {
  padding-top: var(--inputPaddingX);
}

.title1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 16px;
  color: var(--c-accent);
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.contactInfo .address {
  color: #fff;
  font-size: 0.8em;
  margin: 2px 35px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
}

.contactInfo.education li {
  margin-bottom: 15px;
}
.contactInfo.education h5 {
  color: var(--c-accent);
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

.contactInfo.education h4:nth-child(2) {
  color: #fff;
  line-height: 1.2em;
  font-weight: normal;
  font-size: medium;
  margin-bottom: 3px;
  letter-spacing: 0.05em;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: normal;
  font-size: small;
  letter-spacing: 0.05em;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: var(--c-gray);
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--c-accent);
}

.contactInfo.skills2 ul {
  margin-bottom: var(--inputPaddingX);
}

.contactInfo.skills2 ul li span.htext {
  color: var(--c-accent);
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

.cv__container .rightSide {
  position: relative;
  background: var(--c-dark);
  border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
  padding: 40px;
}

.cv .about {
  margin-bottom: 60px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: var(--c-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about p {
  color: var(--c-white);
}

.text ul li {
  color: var(--c-white);
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding-bottom: 30px;
}

.about .box .year_company {
  min-width: 150px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: var(--c-accent);
  font-size: 1.1em;
  padding-bottom: 10px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #cccccc;
}

.skills .box .percent div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--c-accent);
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: #848c99;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa {
  color: var(--c-accent);
  font-size: 18px;
  width: 30px;
}

.interest ul li .fa-solid {
  color: var(--c-accent);
  font-size: 18px;
  width: 30px;
}

.contact__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contactForm {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.contactForm__inputs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.contactForm .row {
  position: relative;
  width: 100%;
}

.contactForm .row2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contactForm .row input,
.contactForm .row2 textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  color: var(--c-white);
  background-color: var(--c-dark);
  font-size: 16px;
  border: 1px solid var(--c-accent);
  border-radius: var(--border-radius-4);
  box-shadow: var(--box-shadow-41);
}

.contactForm .row2 textarea {
  resize: none;
  height: 200px;
}

.contactForm .row label,
.contactForm .row2 label {
  position: absolute;
  left: 1rem;
  top: -20px;
  font-size: small;
  letter-spacing: 0.1em;
  font-weight: 200;
}

.accent-color {
  color: var(--c-accent);
}

.socialMedia {
  display: flex;
}

.socialMedia li {
  list-style: none;
  margin-right: 2rem;
}

.socialMedia li a {
  width: 60px;
  height: 60px;
  background: var(--c-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--c-white);
  font-size: 1.5em;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inset-2);
}

.socialMedia li a:hover {
  color: var(--c-accent);
  transition: var(--base-transition-duration);
}

.footer {
  margin-bottom: var(--section-padding-y);
  margin-top: var(--section-padding-y);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__description {
  margin-top: var(--section-padding-y);
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
}

/* Responsive */

@media (max-width: 1024px) {
  .logo {
    font-size: medium;
  }
  .hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__scene-wrapper {
    bottom: 3rem;
  }

  .hero__inner .imgBx {
    height: 400px;
    width: 350px;
  }

  .hero__inner .imgBx img {
    top: 38px;
    left: 10px;
  }

  .about .content {
    flex-direction: column;
  }
  .about .content .textBox {
    width: 100%;
    min-width: 100%;
  }
  .about .content .imgBx {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .courses__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .cv__container .leftSide {
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
  }
  .cv__container .rightSide {
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
  }

  .projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .cv .cv__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .cv .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactForm__inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  .courses__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-dev__inner .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .cv .about .box {
    flex-direction: column;
  }
  .cv .about .box .year_company {
    margin-bottom: 5px;
  }
  .cv .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
  .cv .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__contacts {
    align-items: start;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}

/* -------------------------------------------- */

/* .card--hoverable {
  transition: var(--base-transition-duration);
}
.card--hoverable {
  --shadowBefore: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);
  box-shadow: var(--shadowBefore);
}
.card {
  border-radius: var(--border-radius-2);
  padding: 40px;
}

.portfolio-card {
  display: grid;
  gap: 20px max(40px, 10%);
  grid-template-columns: 35% auto;
} */
