.dom-is-ready ::-ms-input-placeholder {
  -ms-transition: var(--base-transition-duration);
  transition: var(--base-transition-duration);
}

.dom-is-ready ::placeholder,
.dom-is-ready :after,
.dom-is-ready :before,
.dom-is-ready a,
.dom-is-ready button,
.dom-is-ready input,
.dom-is-ready label,
.dom-is-ready svg,
.dom-is-ready svg *,
.dom-is-ready textarea {
  transition: var(--base-transition-duration);
}

blockquote:not([class]),
img:not([class]),
ol:not([class]),
p:not([class]),
ul:not([class]) {
  --marginY: 24px;
}

li ol:not([class]),
li ul:not([class]),
li:not([class]) {
  --marginY: 12px;
}

blockquote:not([class]):not(:last-child),
img:not([class]):not(:last-child),
li:not([class]):not(:last-child),
ol:not([class]):not(:last-child),
p:not([class]):not(:last-child),
ul:not([class]):not(:last-child) {
  margin-bottom: var(--marginY);
}

ol:not([class]) ol,
ol:not([class]) ul,
ul:not([class]) ol,
ul:not([class]) ul {
  margin-top: var(--marginY);
}

button {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

button * {
  pointer-events: none;
}

.p {
  font-size: 100%;
  font-weight: 400;
}

.bold,
b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

.mb50:not(:last-child) {
  margin-bottom: 50px;
}

.adaptive-table {
  --shadowFixSize: 40px;
  --shadowStart: #fff;
  --shadowEnd: hsla(0, 0%, 100%, 0);
  position: relative;
  width: 100%;
}

@media (max-width: 1280px) {
  .adaptive-table {
    --shadowFixSize: 1px;
  }
}

.adaptive-table__wrapper {
  -webkit-overflow-scrolling: touch;
  margin: calc(var(--shadowFixSize) * -1);
  overflow-x: auto;
  padding: var(--shadowFixSize);
  width: calc(100% + var(--shadowFixSize) * 2);
}

@media (max-width: 1280px) {
  .adaptive-table__wrapper table {
    min-width: 150%;
  }
}

@media (max-width: 480px) {
  .adaptive-table__wrapper table {
    min-width: 200%;
  }
}

.adaptive-table.is-left-edge:before,
.adaptive-table.is-right-edge:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
}

.dom-is-ready .adaptive-table:after,
.dom-is-ready .adaptive-table:before {
  transition: var(--base-transition-duration);
}

.adaptive-table:after,
.adaptive-table:before {
  background: linear-gradient(to right, var(--shadowStart), var(--shadowEnd));
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 25%;
  z-index: 2;
}

@media (max-width: 1280px) {
  .adaptive-table:after,
  .adaptive-table:before {
    content: "";
  }
}

@media (max-width: 480px) {
  .adaptive-table:after,
  .adaptive-table:before {
    width: 15%;
  }
}

.adaptive-table:before {
  left: calc(-1px - var(--shadowFixSize));
}

.adaptive-table:after {
  --shadowStart: hsla(0, 0%, 100%, 0);
  --shadowEnd: #fff;
  right: calc(-1px - var(--shadowFixSize));
}

.adaptive-table {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.adaptive-table::-webkit-scrollbar {
  width: 0 !important;
}

.attachment {
  --iconOffsetX: 10px;
  display: flex;
}

.attachment__icon:not(:last-child) {
  margin-right: var(--iconOffsetX);
}

.attachment__name {
  font-weight: 700;
  width: 100%;
}

.attachment__info {
  display: flex;
  flex-flow: column;
  position: relative;
}

.attachment__size {
  color: var(--c-gray);
}

.attachment__remove {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -25px;
  text-align: left;
  top: 0.35em;
}

.attachment__remove:hover .i-icon * {
  fill: var(--c-brand);
}

.attachment__remove * {
  pointer-events: none;
}

.color-example {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.color-example__square {
  --size: 100px;
  background-color: var(--bgColor);
  box-shadow: var(--box-shadow);
  height: var(--size);
  width: var(--size);
}

.color-example__square:not(:last-child) {
  margin-bottom: 5px;
}

.content {
  flex-grow: 1;
}

.flow {
  --gapX: 32px;
  --gapY: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gapX) * -1);
  margin-top: calc(var(--gapY) * -1);
}

.flow > * {
  margin-left: var(--gapX);
  margin-top: var(--gapY);
}

.grid {
  --columns: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}

@media (max-width: 767px) {
  .grid {
    gap: 15px;
  }
}

.grid--2 {
  --columns: 2;
}

.grid--3 {
  --columns: 3;
}

.grid--4 {
  --columns: 4;
}

.grid--5 {
  --columns: 5;
}

.grid--6 {
  --columns: 6;
}

.grid--7 {
  --columns: 7;
}

.grid--8 {
  --columns: 8;
}

.grid--9 {
  --columns: 9;
}

.grid--10 {
  --columns: 10;
}

.grid--11 {
  --columns: 11;
}

.grid--12 {
  --columns: 12;
}

@media (max-width: 1024px) {
  .grid--2 {
    --columns: 2;
  }
}

@media (max-width: 767px) {
  .grid--2 {
    --columns: 1;
  }
}

@media (max-width: 1024px) {
  .grid--3 {
    --columns: 2;
  }
}

@media (max-width: 767px) {
  .grid--3 {
    --columns: 1;
  }
}

@media (max-width: 1024px) {
  .grid--4 {
    --columns: 2;
  }
}

@media (max-width: 767px) {
  .grid--4 {
    --columns: 1;
  }
}

.grid__item--wide {
  grid-column: -1/1;
}

.scroll-effect .portfolio__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  visibility: hidden;
}

.dom-is-ready .scroll-effect .portfolio__item {
  transition-duration: 1.6s, 0.8s;
}

.scroll-effect--visible .portfolio__item {
  opacity: 1;
  transform: none;
  transition-delay: var(--delay);
  /* visibility:visible; */
}

.scroll-effect--visible .portfolio__item:first-child {
  --delay: 0.2s;
}

.scroll-effect--visible .portfolio__item:nth-child(2) {
  --delay: 0.4s;
}

.scroll-effect--visible .portfolio__item:nth-child(3) {
  --delay: 0.6s;
}

.scroll-effect--visible .portfolio__item:nth-child(4) {
  --delay: 0.8s;
}

.scroll-effect--visible .portfolio__item:nth-child(5) {
  --delay: 1s;
}

.scroll-effect--visible .portfolio__item:nth-child(6) {
  --delay: 1.2s;
}

.scroll-effect--visible .portfolio__item:nth-child(7) {
  --delay: 1.4s;
}

.scroll-effect--visible .portfolio__item:nth-child(8) {
  --delay: 1.6s;
}

.scroll-effect--visible .portfolio__item:nth-child(9) {
  --delay: 1.8s;
}

.scroll-effect--visible .portfolio__item:nth-child(10) {
  --delay: 2s;
}

.scroll-effect--visible .portfolio__item:nth-child(11) {
  --delay: 2.2s;
}

.scroll-effect--visible .portfolio__item:nth-child(12) {
  --delay: 2.4s;
}

.scroll-effect--visible .portfolio__item:nth-child(13) {
  --delay: 2.6s;
}

.scroll-effect--visible .portfolio__item:nth-child(14) {
  --delay: 2.8s;
}

.scroll-effect--visible .portfolio__item:nth-child(15) {
  --delay: 3s;
}

.scroll-effect--visible .portfolio__item:nth-child(16) {
  --delay: 3.2s;
}

.scroll-effect--visible .portfolio__item:nth-child(17) {
  --delay: 3.4s;
}

.scroll-effect--visible .portfolio__item:nth-child(18) {
  --delay: 3.6s;
}

.scroll-effect--visible .portfolio__item:nth-child(19) {
  --delay: 3.8s;
}

.scroll-effect--visible .portfolio__item:nth-child(20) {
  --delay: 4s;
}

.scroll-effect--visible .portfolio__item:nth-child(21) {
  --delay: 4.2s;
}

.scroll-effect--visible .portfolio__item:nth-child(22) {
  --delay: 4.4s;
}

.scroll-effect--visible .portfolio__item:nth-child(23) {
  --delay: 4.6s;
}

.scroll-effect--visible .portfolio__item:nth-child(24) {
  --delay: 4.8s;
}

.product-preview {
  --mainImgWidth: 360px;
  --mainImgHeight: 360px;
  --thumbImgWidth: 60px;
  --thumbImgHeight: 60px;
  --thumbCounter: 4;
  --thumbMarginX: 10px;
  max-width: var(--mainImgWidth);
}

.product-preview__secondary-slider {
  max-width: calc(
    var(--thumbImgWidth) * var(--thumbCounter) + var(--thumbMarginX) * (var(--thumbCounter) - 1)
  );
}

.product-preview__secondary-slider-item {
  height: var(--thumbImgHeight);
  width: var(--thumbImgWidth);
}

.product-preview__main-slider-image,
.product-preview__secondary-slider-image {
  display: flex;
  object-fit: cover;
}

.product-preview__main-slider-image {
  height: var(--mainImgHeight);
  width: var(--mainImgWidth);
}

.product-preview__secondary-slider-image {
  height: var(--thumbImgHeight);
  width: var(--thumbImgWidth);
}

.section {
  padding-bottom: var(--section-padding-y);
  padding-top: var(--section-padding-y);
}

.section__header:not(:last-child) {
  margin-bottom: calc(var(--section-padding-y) * 0.8);
}

.skills__inner {
  column-gap: 80px;
}

@media (max-width: 1280px) {
  .skills__inner {
    gap: var(--section-padding-y);
  }
}

.scroll-effect .skills__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  visibility: hidden;
}

.dom-is-ready .scroll-effect .skills__item {
  transition-duration: 1.2s, 0.6s;
}

.scroll-effect--visible .skills__item {
  opacity: 1;
  transform: none;
  transition-delay: var(--delay);
  visibility: visible;
}

.scroll-effect--visible .skills__item:first-child {
  --delay: 0.2s;
}

.scroll-effect--visible .skills__item:nth-child(2) {
  --delay: 0.4s;
}

.scroll-effect--visible .skills__item:nth-child(3) {
  --delay: 0.6s;
}

.scroll-effect--visible .skills__item:nth-child(4) {
  --delay: 0.8s;
}

.scroll-effect--visible .skills__item:nth-child(5) {
  --delay: 1s;
}

.scroll-effect--visible .skills__item:nth-child(6) {
  --delay: 1.2s;
}

.scroll-effect--visible .skills__item:nth-child(7) {
  --delay: 1.4s;
}

.scroll-effect--visible .skills__item:nth-child(8) {
  --delay: 1.6s;
}

.scroll-effect--visible .skills__item:nth-child(9) {
  --delay: 1.8s;
}

.scroll-effect--visible .skills__item:nth-child(10) {
  --delay: 2s;
}

.scroll-effect--visible .skills__item:nth-child(11) {
  --delay: 2.2s;
}

.scroll-effect--visible .skills__item:nth-child(12) {
  --delay: 2.4s;
}

.scroll-effect--visible .skills__item:nth-child(13) {
  --delay: 2.6s;
}

.scroll-effect--visible .skills__item:nth-child(14) {
  --delay: 2.8s;
}

.scroll-effect--visible .skills__item:nth-child(15) {
  --delay: 3s;
}

.scroll-effect--visible .skills__item:nth-child(16) {
  --delay: 3.2s;
}

.scroll-effect--visible .skills__item:nth-child(17) {
  --delay: 3.4s;
}

.scroll-effect--visible .skills__item:nth-child(18) {
  --delay: 3.6s;
}

.scroll-effect--visible .skills__item:nth-child(19) {
  --delay: 3.8s;
}

.scroll-effect--visible .skills__item:nth-child(20) {
  --delay: 4s;
}

.scroll-effect--visible .skills__item:nth-child(21) {
  --delay: 4.2s;
}

.scroll-effect--visible .skills__item:nth-child(22) {
  --delay: 4.4s;
}

.scroll-effect--visible .skills__item:nth-child(23) {
  --delay: 4.6s;
}

.scroll-effect--visible .skills__item:nth-child(24) {
  --delay: 4.8s;
}

.tabs__nav-list {
  align-items: flex-start;
  display: flex;
}

.dom-is-ready .tabs__nav-item {
  transition: var(--base-transition-duration);
}

.tabs__nav-item {
  cursor: pointer;
}

.tabs__nav-item:not(:last-child) {
  margin-right: var(--marginRight, 30px);
}

.tabs__nav-item:not(.is-active) {
  color: var(--c-gray-2);
  cursor: pointer;
}

.tabs__nav-item *,
.tabs__nav-item.is-active {
  pointer-events: none;
}

.tabs__content-wrapper {
  position: relative;
}

.tabs__content:not(.is-active) {
  display: none;
}

.work-experience {
  --circleSize: 40px;
  padding-left: calc(var(--circleSize) * 2);
}

@media (max-width: 767px) {
  .work-experience {
    --circleSize: 24px;
  }
}

.work-experience__list {
  position: relative;
}

.work-experience__list:before {
  background-color: var(--c-accent);
  content: "";
  height: 100%;
  position: absolute;
  right: calc(100% + var(--circleSize) * 1.5);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.scroll-effect .work-experience__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  visibility: hidden;
}

.dom-is-ready .scroll-effect .work-experience__item {
  transition-duration: 1.6s, 0.8s;
}

.scroll-effect--visible .work-experience__item {
  opacity: 1;
  transform: none;
  transition-delay: var(--delay);
  visibility: visible;
}

.scroll-effect--visible .work-experience__item:first-child {
  --delay: 0.2s;
}

.scroll-effect--visible .work-experience__item:nth-child(2) {
  --delay: 0.4s;
}

.scroll-effect--visible .work-experience__item:nth-child(3) {
  --delay: 0.6s;
}

.scroll-effect--visible .work-experience__item:nth-child(4) {
  --delay: 0.8s;
}

.scroll-effect--visible .work-experience__item:nth-child(5) {
  --delay: 1s;
}

.scroll-effect--visible .work-experience__item:nth-child(6) {
  --delay: 1.2s;
}

.scroll-effect--visible .work-experience__item:nth-child(7) {
  --delay: 1.4s;
}

.scroll-effect--visible .work-experience__item:nth-child(8) {
  --delay: 1.6s;
}

.scroll-effect--visible .work-experience__item:nth-child(9) {
  --delay: 1.8s;
}

.scroll-effect--visible .work-experience__item:nth-child(10) {
  --delay: 2s;
}

.scroll-effect--visible .work-experience__item:nth-child(11) {
  --delay: 2.2s;
}

.scroll-effect--visible .work-experience__item:nth-child(12) {
  --delay: 2.4s;
}

.scroll-effect--visible .work-experience__item:nth-child(13) {
  --delay: 2.6s;
}

.scroll-effect--visible .work-experience__item:nth-child(14) {
  --delay: 2.8s;
}

.scroll-effect--visible .work-experience__item:nth-child(15) {
  --delay: 3s;
}

.scroll-effect--visible .work-experience__item:nth-child(16) {
  --delay: 3.2s;
}

.scroll-effect--visible .work-experience__item:nth-child(17) {
  --delay: 3.4s;
}

.scroll-effect--visible .work-experience__item:nth-child(18) {
  --delay: 3.6s;
}

.scroll-effect--visible .work-experience__item:nth-child(19) {
  --delay: 3.8s;
}

.scroll-effect--visible .work-experience__item:nth-child(20) {
  --delay: 4s;
}

.scroll-effect--visible .work-experience__item:nth-child(21) {
  --delay: 4.2s;
}

.scroll-effect--visible .work-experience__item:nth-child(22) {
  --delay: 4.4s;
}

.scroll-effect--visible .work-experience__item:nth-child(23) {
  --delay: 4.6s;
}

.scroll-effect--visible .work-experience__item:nth-child(24) {
  --delay: 4.8s;
}

.work-experience__item {
  position: relative;
}

.work-experience__item:before {
  --size: calc(var(--circleSize) * 0.3);
  --borderWidth: calc((var(--circleSize) - var(--size)) / 2);
  align-items: center;
  background-color: var(--c-accent);
  border: var(--borderWidth) solid var(--c-dark);
  border-radius: 50%;
  box-shadow: var(--box-shadow-3);
  box-sizing: initial;
  content: "";
  display: flex;
  height: var(--size);
  justify-content: center;
  position: absolute;
  right: calc(100% + var(--circleSize));
  top: 50%;
  transform: translateY(-50%);
  width: var(--size);
  z-index: 1;
}

.light .work-experience__item:before {
  border-color: var(--c-light);
  box-shadow: var(--box-shadow-4);
}

.work-experience__item:first-child:after,
.work-experience__item:last-child:after {
  background-color: var(--c-dark);
  content: "";
  height: 50%;
  position: absolute;
  right: calc(100% + var(--circleSize) * 1.5);
  width: 1px;
}

.light .work-experience__item:first-child:after,
.light .work-experience__item:last-child:after {
  background-color: var(--c-light);
}

.work-experience__item:first-child:after {
  top: 0;
}

.work-experience__item:last-child:after {
  bottom: 0;
}

@media (max-width: 1024px) {
  :root {
    --section-padding-y: 40px;
  }
}

@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1480px) {
  .visible-desktop-m {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 1281px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .hidden-tablet-xs {
    display: none !important;
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.full-card-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-card-link span {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.accent-color {
  color: var(--c-accent);
}

.i-icon {
  --color: var(--c-dark);
  --size: 1em;
  align-items: center;
  display: inline-flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
}

.i-icon * {
  fill: var(--color);
}

.i-icon.icon-webpack path:first-child {
  fill: transparent;
}

* {
  -webkit-touch-callout: none;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

:after,
:before {
  box-sizing: inherit;
}

.light body {
  background-color: var(--c-light);
  color: var(--c-dark);
}

#svg-sprite,
template {
  display: none !important;
}

svg {
  fill: currentColor;
  display: block;
}

.flow-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: inherit;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

@media (prefers-reduced-motion) {
  *,
  :after,
  :before {
    animation: none !important;
    transition: 0.01s !important;
  }
}

.is-mobile-menu-open .flow-container,
.is-mobile-menu-open .header,
.is-mobile-menu-open .mobile-menu {
  padding-right: inherit;
}

/* @font-face {
  font-display: swap;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Rubik-Light.woff2) format("woff2"),
    url(../fonts/Rubik-Light.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Rubik-Regular.woff2) format("woff2"),
    url(../fonts/Rubik-Regular.woff) format("woff");
} */

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  to {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes hide-modal {
  0% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }

  to {
    opacity: 0;
    transform: scale(0.5) translateZ(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes pulse {
  0%,
  50%,
  to {
    transform: scale(1) translateZ(0);
  }

  25%,
  75% {
    transform: scale(1.1) translateZ(0);
  }
}

@keyframes shake {
  0%,
  50%,
  to {
    transform: translateX(0) translateZ(0);
  }

  25% {
    transform: translateX(-5px) translateZ(0);
  }

  75% {
    transform: translateX(5px) translateZ(0);
  }
}

@keyframes lazyLoading {
  0% {
    background-position: 0 92%;
  }

  to {
    background-position: 100% 9%;
  }
}

@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  75% {
    opacity: 0.75;
    transform: scale(450) translateZ(0);
  }

  to {
    opacity: 0;
    transform: scale(700) translateZ(0);
  }
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  to {
    opacity: 0;
  }
}

@keyframes move-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

.form__body {
  align-items: flex-end;
}

.form-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.form-input-wrapper {
  position: relative;
  width: 100%;
}

.form-input-button {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 0;
  box-shadow: none;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: calc(var(--inputPaddingX) / 2);
  text-align: left;
  top: 0;
  width: var(--inputButtonSize);
}

@media (hover: hover) {
  .form-input-button:hover .i-icon {
    --color: var(--c-accent);
  }
}

.form-input-button:active {
  transform: scale(1.25) translateZ(0);
}

.form-input-button .i-icon {
  --size: var(--inputIconSize);
}

.form-label {
  margin-bottom: 5px;
  order: -1;
}

.form-error {
  color: var(--c-error);
  display: none;
  flex: 0 0 100%;
  font-size: 12px;
  margin-top: 5px;
}

.is-invalid ~ .form-error {
  display: block;
}

.form-star-required {
  color: var(--c-red);
}

.fancybox__container {
  z-index: var(--layerPreloader);
}
